
body {
    /* grid paper texture */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.3s ease-in-out;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%22100%25%22 height=%22100%25%22%3E%3Cdefs%3E%3Cpattern id=%22mm%22 width=%2210%22 height=%2210%22 patternUnits=%22userSpaceOnUse%22%3E%3Cpath d=%22M10,0 L0,0 0,10%22 fill=%22none%22 stroke=%22%23ffb3b3%22 stroke-width=%220.5%22 opacity=%220.5%22/%3E%3C/pattern%3E%3Cpattern id=%22cm%22 width=%2250%22 height=%2250%22 patternUnits=%22userSpaceOnUse%22%3E%3Crect width=%2250%22 height=%2250%22 fill=%22url(%23mm)%22/%3E%3Cpath d=%22M50,0 L0,0 0,50%22 fill=%22none%22 stroke=%22%23ff4d4d%22 stroke-width=%221%22/%3E%3C/pattern%3E%3C/defs%3E%3Crect width=%22100%25%22 height=%22100%25%22 fill=%22url(%23cm)%22/%3E%3C/svg%3E");
    background-size: 50px 50px;
    background-repeat: repeat !important;
}